 
<body>

 <link rel="stylesheet" href="/css/customScreen.css">
    <script defer src="/js/customScreen.js"></script>

        <label class="picture" tabIndex="0">
            <input type="file" name="pictureInput" accept="image/*" class="pictureInput">
            <span class="pictureImage"></span>
        </label>

        <label class="picture" tabIndex="0" >
            <input type="file" name="pictureInput" accept="image/*" class="pictureInput">
            <span class="pictureImage"></span>
        </label>
        

        {{!-- id="picInp2" --}}

        <!-- <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label> -->


  
</body>