 <body>
    <link rel="stylesheet" href="/css/customScreen.css">
    <script defer src="/js/customScreen.js"></script>

    <label class="picture" for="picture__input" tabIndex="0" id="pic">
        <span class="picture__image"></span>
    </label>  
    <input type="file" name="picture__input" id="picture__input">
     
     <div class="wrapper">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>


    <label class="picture" for="picture__input1" tabIndex="0" id="pic1">
        <span class="picture__image1"></span>
    </label>
    <input type="file" name="picture__input1" id="picture__input1">


    <label class="picture" for="picture__input2" tabIndex="0" id="pic2">
        <span class="picture__image2"></span>
    </label>
    <input type="file" name="picture__input2" id="picture__input2">

    
    <label class="picture" for="picture__input3" tabIndex="0" id="pic3">
        <span class="picture__image3"></span>
    </label>
    <input type="file" name="picture__input3" id="picture__input3">

    
    <label class="picture" for="picture__input4" tabIndex="0" id="pic4">
        <span class="picture__image4"></span>
    </label>
    <input type="file" name="picture__input4" id="picture__input4">

    
    <label class="picture" for="picture__input5" tabIndex="0" id="pic5">
        <span class="picture__image5"></span>
    </label>
    <input type="file" name="picture__input5" id="picture__input5">
  
</body>