 <body>
    <link rel="stylesheet" href="/css/customScreen.css">
    <script defer src="/js/customScreen.js"></script>

    <a href="/gameMode"><img src="/images/gameMode/backArrow.png" id="back" alt="voltar"></a>
<form>
    <label class="picture" for="picture__input" tabIndex="0" id="pic">
        <span class="picture__image"></span>
    </label>  
    <input type="file" name="picture__input" id="picture__input">
     
     <div class="wrapper" id="wr1">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>

      <div class="wrapper" id="wr2">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>

      <div class="wrapper" id="wr3">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>

      <div class="wrapper" id="wr4">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>

      <div class="wrapper" id="wr5">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>

      <div class="wrapper" id="wr6">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Insira o nome</label>
        </div>
     </div>


    <label class="picture" for="picture__input1" tabIndex="0" id="pic1">
        <span class="picture__image1"></span>
    </label>
    <input type="file" name="picture__input1" id="picture__input1">


    <label class="picture" for="picture__input2" tabIndex="0" id="pic2">
        <span class="picture__image2"></span>
    </label>
    <input type="file" name="picture__input2" id="picture__input2">

    
    <label class="picture" for="picture__input3" tabIndex="0" id="pic3">
        <span class="picture__image3"></span>
    </label>
    <input type="file" name="picture__input3" id="picture__input3">

    
    <label class="picture" for="picture__input4" tabIndex="0" id="pic4">
        <span class="picture__image4"></span>
    </label>
    <input type="file" name="picture__input4" id="picture__input4">

    
    <label class="picture" for="picture__input5" tabIndex="0" id="pic5">
        <span class="picture__image5"></span>
    </label>
    <input type="file" name="picture__input5" id="picture__input5">


    
    <select name="linguagem" required="required" class="selectParent" id="s1">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>


    <select name="linguagem" required="required" class="selectParent" id="s2">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>

    <select name="linguagem" required="required" class="selectParent" id="s3">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>

    <select name="linguagem" required="required" class="selectParent" id="s4">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>

    <select name="linguagem" required="required" class="selectParent" id="s5">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>

    <select name="linguagem" required="required" class="selectParent" id="s6">
        <option value="">Selecione o Parente</option>
        <option value="father">Pai</option>
        <option value="mother">Mãe</option>
        <option value="son">Filho</option>
        <option value="daughter">Filha</option>
        <option value="brother">Irmão</option>
        <option value="sister">Irmã</option>
        <option value="grandson">Neto</option>
        <option value="granddaughter">Neta</option>
        <option value="grandfather">Avô</option>
        <option value="grandmother">Avó</option>
        <option value="cousinM">Primo</option>
        <option value="cousinF">Prima</option>
        <option value="uncle">Tio</option>
        <option value="aunt">Tia</option>
        <option value="nephew">Sobrinho</option>
        <option value="niece">Sobrinha</option>
        <option value="friendM">Amigo</option>
        <option value="friendF">Amiga</option>
    </select>
  <button type="submit" id="bt">INICIAR</button>
</form>
  
</body>