 
<body>

 <link rel="stylesheet" href="/css/customScreen.css">
    <script defer src="/js/customScreen.js"></script>

        <label class="picture" for="picture__input" tabIndex="0">
            <span class="pictureImage"></span>
        </label>
        <input type="file" name="pictureInput" accept="image/*" id="pictureInput">

        <label class="picture" for="picture__input1" tabIndex="1">
            <span class="pictureImage1"></span>
        </label>
        <input type="file" name="pictureInput1" accept="image/*" id="pictureInput1">
        

        {{!-- id="picInp2" --}}

        <!-- <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label>
    
        <label class="picture" tabIndex="0">
            <input type="file" accept="image/*" class="pictureInput"> 
            <span class="pictureImage"></span>
        </label> -->


  
</body>