<body>  
    <link rel="stylesheet" href="/css/firstScreen.css">

    <main>
        <img src="/images/firstScreen/alzhy.png" id="alzhy" alt="alzhy">
        <img src="/images/firstScreen/logoHYA.png" id="logo" alt="logo">

        <img src="/images/firstScreen/bigCloud.png" id="bigCloud" alt="bigCloud">
        <img src="/images/firstScreen/title.png" id="title" alt="title">
        <img src="/images/firstScreen/title2.png" id="title2" alt="title2">
        
        <div id="square">
            <a href="/gameMode"><button id="btJogar">JOGAR</button></a>
            <a href="/firstScreen"><button id="btRegras">REGRAS</button></a>
        </div>

        <a href="/sobre"><img src="/images/firstScreen/smallCloud.png" id="smallCloud" alt="smallCloud"></a>
        <a href="/sobre"><button id="cloud1">SOBRE</button></a>   

        <img src="/images/firstScreen/smallCloud.png" id="smallCloud2" alt="smallCloud2">
        <a href="/firstScreen"><button id="cloud2">CRÉDITOS</button></a>

    </main>

    
    
<!--
    <div class="smallCloud">
        <img src="../images/firstScreen/smallCloud.png" id="smallCloud" alt="smallCloud">
    </div> -->

        </body>