<body>
    <link rel="stylesheet" href="/css/index.css">

    <img src="/images/login/logoTB.png" alt="" class="logoTB">

    <div class = "square">
        <img src="/images/login/logoHYA.png" alt="" class="logoHYA">
        <a href="/firstScreen"><button class= "login">ENTRAR</button></a>
        <a href="/register"><button class="register">CADASTRAR </button></a>
    </div>


</body> 