<body>
    <link rel="stylesheet" href="/css/login.css">

    <a href="/"><img src="/images/gameMode/backArrow.png" id="back" alt="voltar"></a>

    <div class="box">

        <form action="" class="form">

            <h2 class="form_title">Login</h2>
            <div class="form_container">
                <div class="form_group">
                    <input type="text" id="user" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Nome ou Email: </label>
                    <span class="form_line"></span>
                </div>
            </div>

            <div class="form_container">
                <div class="form_group">
                    <input type="password" id="password" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Senha: </label>
                    <span class="form_line"></span>
                </div>

                <input type="submit" class="form_submit" value="Entrar">

            </div>
            <p class="form_paragraph">Ainda não possui conta? <a href="#" class="form_link">Cadastre-se aqui</a></p>
            
        </form>
       
    </div>
</body>