<body>

    <link rel="stylesheet" href="/css/register.css">

   <a href="http://localhost:8081"><button class="backBtn">VOLTAR</button></a>

    <div class="box">

        <form action="" class="form">
 
            <h2 class="form_title">Cadastro</h2>
            
            <div class="form_container">
                <div class="form_group">
                    <input type="text" id="user" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Nome do paciente: </label>
                    <span class="form_line"></span>
                </div>
            </div>

            <div class="form_container">
                <div class="form_group">
                    <input type="text" id="email" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Email do responsável: </label>
                    <span class="form_line"></span>
                </div>
            </div>

            <div class="form_container">
                <div class="form_group">
                    <input type="text" id="responsible" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Nome do responsável: </label>
                    <span class="form_line"></span>
                </div>
            </div>

            <div class="form_container">
                <div class="form_group">
                    <input type="text" id="tel" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Telefone do responsável: </label>
                    <span class="form_line"></span>
                </div>
            </div>

            <div class="form_container">
                <div class="form_group">
                    <input type="password" id="password" class="form_input" placeholder=" ">
                    <label for="name" class="form_label">Senha: </label>
                    <span class="form_line"></span>
                </div>

                <input type="submit" class="form_submit" value="Entrar">

            </div>
            <p class="form_paragraph">Ainda não possui conta? <a href="#" class="form_link">Cadastre-se aqui</a></p>
            
        </form>
       
    </div>



    {{!-- <div class = "square">
        
        
        <form action="/">

            <label for="name">Nome</label><br>
            <input type="text">
            <br>
            <label for="name">Email</label><br>
            <input type="email">
            <br>
            <label for="password">Senha</label><br>
            <input type="password"> 
            
            <button class="register" type="submit">CADASTRAR</button>
        </form>

       
    </div> --}}

</body>