<body>
    <link rel="stylesheet" href="/css/rules.css">

    <a href="http://localhost:8081/firstScreen"><button class="backBtn">VOLTAR</button></a>
    <div class="box">
        <div class="hist">
            <h1 class="AoA">AJUDE O ALZHY</h1>
            <br>
            <p>Alzhy é um alce bem velhinho que por causa de sua idade avançada começou a esquecer de algumas coisas.</p>
            <p>Um dia, ele já não se lembrava mais dos rostos de sua própria família...</p>
            <p>Por isso, ele foi em busca de amigos que pudessem ajudá-lo.</p>
            <p>Como um bom amigo, você que encontrou o Alzhy, ajude-o a se lembrar da sua família e das coisas que um dia se esqueceu.</p>
        </div>
        <div class="regras">
            <h1 class="titregras">REGRAS</h1>
            <br>
            <p>O objetivo do jogo da memória é achar duas cartas que tenham a mesma imagem, até formar todos os pares.</p>
            <p>O jogo tem 12 cartas, totalizando 6 pares de cartas iguais.</p>
            <p>Clique para virar duas cartas.</p>
            <p>Se as duas cartas forem iguais, você ganhará 3 pontos e elas se manterão abertas.</p>
            <p>Caso sejam diferentes, as cartas irão se fechar novamente e você poderá tentar de novo, porém irá perder 1 ponto.</p>
            <p>Continue virando duas cartas de cada vez até achar todos os pares presentes no jogo.</p>  
            <br> 
            <center><p id="bj">Bom Jogo!</p></center>
                
              

        </div>
    </div>
</body>