@font-face {
    font-family: 'Gluten';
    src: url(../fonts/Gluten.ttf) format('truetype');;

 }

body{
    background-color: #A3C3EA;
    /* background-color: black; */
}

.logoTB{
    position: absolute;
    width: 10%;
    left: 90%;
    top: 1%;
}

.square{
    position: absolute;
    left: 36%;
    top: 7%;
    width: 28%;
    height: 85%;
    background-color: #C5DFFF;
    border-radius: 15px;
    -webkit-box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
}

.logoHYA{
    position: absolute;
    width: 50%;
    top: 6%;
    left: 25%;
}

.square button{
    width: 60%;
    height: 13%;
    background-color: #A7B7FA;
    border-radius: 10px;
    font-size: 5vh;
    font-family: 'Gluten';

    -webkit-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
-moz-box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
}


.square button:hover{

    background-color: #8d9fe4;

    -webkit-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
-moz-box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
box-shadow: inset 3px 8px 30px -11px rgba(33,27,33,0.39);
    cursor: pointer;
}


.login{
    position: absolute;
    left: 20%;
    top: 53%;
    
}

.register{
    position: absolute;
    left: 20%;
    top: 73%;

}

