<body>
    <link rel="stylesheet" href="/css/classicThemes.css">

    <a href="http://localhost:8081/gameMode"><button class="backBtn">VOLTAR</button></a>

    <div id="imgThemes">

        <a href="/gameShapes"><img src="/images/classicThemes/shapesTheme.png" id="shapes" alt="formas"></a>
        <a href="/gameNumbers"><img src="/images/classicThemes/numbersTheme.png" id="numbers" alt="numeros"></a>
        <a href="/gameColors"><img src="/images/classicThemes/colorsTheme.png" id="colors" alt="cores"></a>
        <a href="/gameAnimals"><img src="/images/classicThemes/animalsTheme.png" id="animals" alt="animais"></a>

        <h2 id="h2S">FORMAS</h2>
        <h2 id="h2N">NÚMEROS</h2>
        <h2 id="h2C">CORES</h2>
        <h2 id="h2A">ANIMAIS</h2>
    </div>
    
</body>
</html>