<body>
    
    <link rel="stylesheet" href="/css/game.css">
    <script defer src="/js/gameAnimals.js"></script> <!--defer: carregar o html primeiro que o js-->   
    
   
    
    <main>
        <header>
            <span><span class="timer" hidden></span></span>
            <span><span class="dia" hidden></span></span>
            <span><span class="pontuacao" hidden></span></span>
            <span><span class="modo" hidden></span></span>
            <span><span class="pontuacao" hidden></span></span>
            <span><span class="id_jogador" hidden></span></span>

        </header>
        <div class="grid"></div>

        <a href="http://localhost:8081/classicThemes"><button class="backBtn">VOLTAR</button></a>

        <form id="Form" action="/add" method="POST">
             <input type= "text" id= "dia" name= "dia">
             <input type= "text" id= "setText" name= "pontuacao">
             <input type= "text" id= "timer" name= "timer">
             <input type= "text" id= "modo" name= "modo">
             <input type= "text" id= "id_jogador" name= "id_jogador">
             <input type="submit" value="Submit" id="enviar">
        </form>


        <img src="/images/game/alzhyThinker.png" alt="" id="alzhyT">
        <img src="/images/game/alzhyShine.png" alt="" id="alzhyS" hidden>
        <img src="/images/game/alzhyHappy.png" alt="" id="alzhyH" hidden>

    </main>

    <div id="myOverlay" class="overlay">
        <div class="wrap">
            <h1 class="overTitle">PARABÉNS!</h1>
            <center><h3 class="subTitle">VOCÊ CONCLUIU ESTA FASE</h3></center>
            <a href="/gameAnimals"><button id= "savegame" class= "playAgain">JOGAR NOVAMENTE</button></a>
            <a href="/gameMode"><button id= "savegame2" class="mode">NOVO MODO DE JOGO</button></a>
        </div>
    </div>

</body>

 