<body>

    <link rel="stylesheet" href="/css/gameMode.css">

    <main>
        <h1>SELECIONE UM MODO DE JOGO</h1>

            <div id="imgGM">
                <a href="/classicThemes"><img src="/images/gameMode/classicGM.png" id="classic" alt="classico"></a>
                <a href="/customScreen"><img src="/images/gameMode/customGM.png" id="custom" alt="personalizado"></a>
            </div>    

            <a href="http://localhost:8081/firstScreen"><button class="backBtn">VOLTAR</button></a>
    </main>
</body>