*{

    outline: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BestSchool';
    src: url(../fonts/BestSchool.otf) format('truetype');;

 }
 

 body{
    /*Responsividade*/
    background-image: url("../images/classicThemes/bgThemes.png");
   
}
  

#back{
    position: absolute;
    width: 7%;
    left: 2%;
    top: 2%;
}


#back:hover{
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear;
}
  
  #picture__input {
    display: none;
    
  }

  #picture__input1 {
    display: none;
  }

  #picture__input2 {
    display: none;
  }

  #picture__input3 {
    display: none;
  }

  #picture__input4 {
    display: none;
  }

  #picture__input5 {
    display: none;
  }
  
  .picture {
    text-align: center;
    width: 13%;
    aspect-ratio: 1/1;
    background: #FFD68F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8A7042;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: 'BestSchool';
    font-size: 2vw;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

  #pic{
    position: absolute;
    top: 2%;
    left: 15%;
  }

  #pic1{
    position: absolute;
    top: 2%;
    left: 43%;
  }

  #pic2{
    position: absolute;
    top: 2%;
    left: 70%;
  }

  #pic3{
    position: absolute;
    top: 50%;
    left: 15%;
  }

  #pic4{
    position: absolute;
    top: 50%;
    left: 43%;
  }

  #pic5{
    position: absolute;
    top: 50%;
    left: 70%;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }

  .picture__img1 {
    max-width: 100%;
  }

  .picture__img2 {
    max-width: 100%;
  }

  .picture__img3 {
    max-width: 100%;
  }

  .picture__img4 {
    max-width: 100%;
  }

  .picture__img5 {
    max-width: 100%;
  }


 #wr1{
    top: 31%;
    left: 14.5%;
 }

 #wr2{
    top: 31%;
    left: 42.5%;
 }

 #wr3{
    top: 31%;
    left: 69.5%;
 }

 #wr4{
    top: 79%;
    left: 14.5%;
 }

 #wr5{
    top: 79%;
    left: 42.5%;
 }

 #wr6{
    top: 79%;
    left: 69.5%;
 }

  .wrapper{
    width: 14%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 25px;
    position: absolute;
    background-color: white;
    border: rgb(173, 173, 173) solid 1px ;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);


  }

  .wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
    
  }

  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    
    
  }

  .input-data input:focus ~ label,
  .input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #8A7042;
  }

  .wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3 ease;
  }

  .wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    
  }

  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #8A7042;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
  }

  /* input:focus::-webkit-input-placeholder {
    color: transparent;
 }
 input:focus:-moz-placeholder { 
    color: transparent;  
 }
 input:focus::-moz-placeholder {  
    color: transparent;  
 }
 input:focus:-ms-input-placeholder {  
    color: transparent;  
 } */

 .selectParent{
  position: absolute;
  padding: 0.5%;
  width: 12%;
  border-radius: 12px;
  color: gray;
  border: rgb(173, 173, 173) solid 1px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  
 }

 #s1{
  top: 40%;
  left: 15.3%;
 }

 #s2{
  top: 40%;
  left: 43.5%;
 }

 #s3{
  top: 40%;
  left: 70.5%;
 }

 #s4{
  top: 88%;
  left: 15.3%;
 }

 #s5{
  top: 88%;
  left: 43.5%;
 }

 #s6{
  top: 88%;
  left: 70.5%;
 }


#bt{
  position: absolute;
  top: 88%;
  left: 87%;
  background-color: #B4C2FF;
  width: 10%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  font-size: 1.5vw;
  border-radius: 10px;
  box-shadow: inset 0 0 9px #0000007e;

}

#bt:hover{
  -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear; 
    background-color: #c4d0ff;
    box-shadow: inset 0 0 15px #0000007e;
    cursor: pointer;
}