@font-face {
    font-family: 'OrganicRelief';
    src: url(../fonts/OrganicRelief.ttf) format('truetype');;

 }

 @font-face {
    font-family: 'BestSchool';
    src: url(../fonts/BestSchool.otf) format('truetype');;

 }

html{
     /*Responsividade*/
    height: 100%;
}


body{
     /*Responsividade*/
    width: 100%;
    height: 100%;
    background-image: url(../images/firstScreen/bgFirstScreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%;
    
}

main{
    height: 100%;
}

#alzhy{
    /*Responsividade*/
    position: absolute;
    top: 25%;
    left: 69%;
    width: 25%;
    object-fit: cover;
    
}  

#logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 12%;

}


/* #divBgCloud{
    position: absolute;
    width: 40%;
    top: 60%;
    left: 30%;
}


#divBgCloud figcaption{
    position: absolute;
    top: 25%;
    left: 22%;
    font-size: 4vw;
    text-align: center;
    font-family: 'OrganicRelief';

} */

#bigCloud{
    position: absolute;
    width: 45%;
    top: 0%;
    left: 28%;
}

#title{
    position: absolute;
    top: 14%;
    left: 41%;
    width: 20%;
}

#title2{
    position: absolute;
    top: 26%;
    left: 44%;
    width: 14%;
}


#square{
    position: absolute;
    top: 45%;
    left: 36%;
    background-color: #abd1ff85;
    width: 30%;
    height: 40%;
    border-radius: 50px;
    -webkit-box-shadow: -4px 4px 28px 5px rgba(0,0,0,0.34);
    -moz-box-shadow: -4px 4px 28px 5px rgba(0,0,0,0.34);
    box-shadow: -4px 4px 28px 5px rgba(0,0,0,0.34);
    
}

#square button{
    position: absolute;
    width: 60%;
    height: 30%;
    border-radius: 10px;
    padding: 10px;
    background-color: #B4C2FF;
    font-size: 2.5vw;
    font-family: 'BestSchool';
    box-shadow: inset 0 0 20px #0000007e;
}

#square button:hover{
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear; 
    background-color: #c4d0ff;
    box-shadow: inset 0 0 15px #0000007e;
    cursor: pointer;
}

#btJogar{
    top: 15%;
    left: 20%;
}


#btRegras{
    top: 55%;
    left: 20%;
}

#smallCloud{
    position: absolute;
    top: 67%;
    left: 0.5%;
    width: 13%;
    object-fit: cover;
}

#smallCloud:hover{
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear; 
} 


#smallCloud2{
    position: absolute;
    top: 80%;
    left: 0.5%;
    width: 13%;
    object-fit: cover;
    cursor: pointer;
}

#smallCloud2:hover{
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear; 
}

#cloud1{
    position: absolute;
    top: 73.5%;
    left: 4.6%;
    width: 0;
    font-size: 2vw;
    font-family: 'BestSchool';
    cursor: pointer;
}


#cloud2{
    position: absolute;
    top: 86.5%;
    left: 3.5%;
    width: 0;
    font-size: 2vw;
    font-family: 'BestSchool';
    cursor: pointer;
}





/*

    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: bottom;
}


  position: absolute;
    top: 50%; 
    left: 70%;
    transform: translate(-50%, -50%);

#alzhy{
    width: 100%;
    height: auto;
   

}
/*







img{
    width: 100%;
}
*/

