.txtparente{
    /* margin: 10%; */
    /* position: relative; */
    /* word-break: break-all; */
    position: relative;
    top: 40%;  
    /* left: 30%; */
    
}

.txtnome{
    position: relative;
    top: 40%;  
    /* left: 10%; */
    /* margin: auto; */
}

