@font-face {
    font-family: 'Gluten';
    src: url(../fonts/Gluten.ttf) format('truetype');;

 }

html {
    /*Responsividade*/
    height: 100%;
}

 
body {
    /*width: 100%;
    height: 100%;*/
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/game/bgGame.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

form {
    display: none;
}

header {
    position: absolute;
    top: 10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 8%;
    padding: 9px;
    margin: 0 0 20px;

    border-radius: 5px;
    font-size: 3vh;
}

header span{
    text-align: center;
}

.backBtn {
    background-color: #A5C1EC;
    padding: 1vw;
    color: white;
    border-radius: 20px;
    width: 8%;
    position: absolute;
    left: 2%;
    top: 4%;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 3px black;
    transition: width 2s, height 2s, background-color 2s, opacity 2s, transform 1s;
}


.backBtn:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear;

}

/* PAINEL(GRADE) */
.grid {
    display: grid;
    width: 50%;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /*CÓDIGO PARA DIVIDIR EM COLUNAS */
    gap: 20px;
    /* TIPO UM PADDING */
    margin: 0, auto;
    margin-right: 10%;
    /* margin: 70px auto; */
}

/*CARTAS*/
.card {
    aspect-ratio: 1/1;
    /*FICA DO MESMO TAMANHO INDEPENDENTE DA TELA*/
    width: 100%;
    background-color: rgb(75, 78, 78);
    /* border-radius: 5px; */
    position: relative;
    transition: all 300ms ease;
    transform-style: preserve-3d;
    border-radius: 16px;
}

/*FACE GERAL DAS CARTAS*/
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    /*COLOCAR UMA CARTA EM CIMA DA OUTRA*/
    background-size: cover;
    /* AJUSTA A IMAGEM NO CARD*/
    background-position: center;
    /* CENTRALIZA A IMAGEM NO CARD*/
    -webkit-box-shadow: 11px 9px 7px -6px rgba(217, 174, 100, 0.65);
    -moz-box-shadow: 11px 9px 7px -6px rgba(217, 174, 100, 0.65);
    box-shadow: 11px 9px 7px -6px rgba(217, 174, 100, 0.65);
    border-radius: 16px;
    transition: all 800ms ease;

}

/*PARTE DA FRENTE DAS CARTAS*/
.front {
    transform: rotateY(180deg);
    /* GIRA A CARTA 180 GRAUS*/

}

/*PARTE DAS COSTAS DAS CARTAS*/
.back {
    background-image: url('../images/backcard.png');
    backface-visibility: hidden;
}

/*ANIMAÇÃO DAS CARTAS*/
.reveal-card {
    transform: rotateY(180deg);
}

/*PARA DEIXAR A CARTA COM APARÊNCIA DESABILITADA QUANDO ACERTA*/
.disable-card {
    filter: saturate(0);
    opacity: 0.5;
}

.back:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear;
    cursor: pointer;
}

#alzhyT{
    position: absolute;
    left: 73%;
    top: 42%;
    width: 27%;
}


#alzhyH{
    position: absolute;
    left: 73%;
    top: 42%;
    width: 27%;
}

#alzhyS{
    position: absolute;
    left: 73%;
    top: 42%;
    width: 27%;
}

.wrap{
    width: 40vw;
    height: 36vw;
    margin: auto;
    padding: 20px;
    background: #AFD4FF;
    margin-top: 5vw;
    border-radius: 20px;
    font-family: 'Gluten';
}

h1{
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
}

.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.closebtn:hover{
    color: #ccc;
}


.playAgain{
    position: absolute;
    left: 40%;
    top: 35%;
    cursor: pointer;
    background-color: #A7B7FA;
    width: 20vw;
    height: 5vw;
    font-family: 'Gluten';
    font-size: 1.8vw;
    
}

.mode{
    position: absolute;
    left: 40%;
    top: 50%;
    cursor: pointer;
    background-color: #A7B7FA;
    width: 20vw;
    height: 5vw;
    font-family: 'Gluten';
    font-size: 1.8vw;
}

.overTitle{
    margin-top: 1vw;
    font-size: 4vw;
    font-weight: 400;
}

.subTitle{
    font-weight: 300;
    font-size: 1.5vw;
}
