@font-face {
    font-family: 'Gluten';
    src: url(../fonts/Gluten.ttf) format('truetype');;

 }

 
 html{
    /*Responsividade*/
   height: 100%;
}
 
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.078), rgba(0, 0, 0, 0.096)), url("../images/login/bgLogin.png");
    width: 100%;
    height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-size:100%;
}

.backBtn {
    background-color: #A5C1EC;
    padding: 1vw;
    color: white;
    border-radius: 20px;
    width: 8%;
    position: absolute;
    left: 2%;
    top: 4%;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 3px black;
    transition: width 2s, height 2s, background-color 2s, opacity 2s, transform 1s;
}


.backBtn:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 250ms linear;

}

.box{
    position: absolute;
    left: 32%;
    top: 5%;
    width: 33%;
    height: 90%;
    background-color: #c5dfffdd;
    border-radius: 15px;
    -webkit-box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
box-shadow: -1px 10px 40px 0px rgba(0,0,0,0.4);
}




/* .form_title{
    font-size: 7vh;
    margin-bottom: .5%;
    color: #4C6D93;
} */



.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 90%;

    max-width: 100%;
    padding: 0% 3%;
    text-align: center;
}

.form_title{
    margin-top: 5%;
    font-size: 6vh;
    margin-bottom: 5%;
    color: #4C6D93;
}

.form_container{
    vertical-align: middle;
    margin-top: 1.5em;
    display: grid;
    gap: 2.5%;
    width: 100%;
}

.form_group{
    position: relative;
    --color: #4C6D93;
    width: 100%;
}

.form_input{
    width: 100%;
    background: none;
    color: #4C6D93;
    font-size: 100%;
    padding: 3% 3%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid var(--color);
    

}

.form_input:not(:placeholder-shown){
    color: gray;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    font-size: 90%;
    transform-origin: left top;
    color: #3f73ae;
    transform: translateY(-12px) scale(.7);

}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    margin-top: 6%;
    background: #B4C2FF;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 400;
    font-size: 2vh;
    padding: .7em 0;
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 10px #00000067;
    
}

.form_submit:hover{
    background: #c1ccfe;
    color: black;
    font-weight: 700;
    font-size: 2vh;
    padding: .7em 0;
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 10px #00000048;
    cursor: pointer;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4C6D93;

    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) + .form_label{

    transform: scale(1);
}

.form_paragraph{
    font-weight: 300;
    font-size: 2vh;
    margin-top: 5%;

}

.form_link{
    font-weight: 400;
    color: black;
}

.form_link:hover{
    color: #3f73ae;
}

@media(max-width: 100%){
    .form_title{
        font-size: 1.8rem;
    }

}



select {
    background: transparent;
    border: 1px solid #3f73ae;
    color: #4C6D93;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin-bottom: 0;
  }




